@font-face {
    font-family: "bai";
    src: url(BaiJamjuree-Bold.ttf);
}

@font-face {
    font-family: "poppins";
    src: url(Gotham-Book.otf);
}

@font-face {
    font-family: "gotham";
    src: url(Gotham-Black.otf);
}

@keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1;}  
}

@keyframes slide-right {
    from {
      margin-left: -200%;
    }
    to {
      margin-left: 5px;
    }
}

#my{
    zoom: 100%;
}

html{
    scroll-behavior:smooth;
}

body{
    background: rgba(214,204,153,1);
    background: linear-gradient(167deg, rgba(239,233,199,1) 0%, rgba(214,204,153,1) 100%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
}

.header{
    margin-left: -10px;
    top: 0;
    z-index: 1;
}

.menu-bar{
    top: 0;
    position: sticky;
    z-index: 1;
    background: #37261a;
    height: 80px;
    font-family: "bai";
    font-weight: bolder;
    display: flex;
    width: 100%; 
    justify-content: space-between;
    align-items: center;
}

.menu-bar ul {
    white-space: nowrap;
    list-style: none;
    display: flex;
}

.menu-bar ul li {
    animation: fadeIn 0.5s;
    padding: 10px 30px;  
    position: relative;
}

.menu-bar a {
    font-size: 20px;
    margin-top: 15px;
    color: whitesmoke;
    text-decoration: none;
    transition: all 0.3s;
}

.menu-bar a:hover {
    color: #FDE5D4;
}

.grid1{
    display: flex;
    margin-bottom: 130px;
}

li {
    float: left;
}

li a, .dropbtn{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    position: relative;
}

li.dropdown{
    display: inline-block;
}

.dropdown-content{
    position: absolute;
    display: none;
    background: rgb(55,38,26);
    background: linear-gradient(167deg, rgba(55,38,26,1) 35%, rgba(32,22,15,1) 100%);
    border-radius: 20px;
    text-align: center;
    min-height: 200px;
    width: 220px;
    z-index: 1;
    left: 10px; 
    padding: 2px 2px;
}

.lima{
    margin-bottom: 10px;
}

.dropdown-content a{
    margin-top: 15px;
    font-size: 18px;
    color: #fff;
    display: block;
    text-align: center;
}

.kerjasama a{
    margin: 0px auto;
    text-align: center;
}

.dropdown-content a:hover{
    background-color:#18110b;
    border-radius: 15px;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.hmm{
    margin-top: 15px;
    padding: 10px;
}

.pembukaan{
    display: flex;
    padding: 1px;
}


.column-side{
    border-radius: 10px;
    margin-left: 0px;
    width: 300px;
    height: 500px;
    padding: 20px;
    background-color: #efe9c7;
}

.column-side img{
    width: 300px;
    border: 2px solid #39281b;
    scale: 1;
    transition: transform 0.2s;
}

.column-side img:hover{
    width: 300px;
    transform: scale(1.05);
}

.galeri{
    color: 39281b;
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
}

.middle-side{
    border-radius: 10px;
    margin-right: 40px;
    margin-left: 40px;
    width: 1000px;
    height: 500px;
    background-color: #efe9c7;
}

.datang{
    color: #39281b;
}

.teks{
    animation: fadeIn 0.8s;
}

.teks-1{
    margin-top: -40px;
}

.teks-2{
    background-color: #39281b;
    height: max-content;
}

.hmm{
    margin-top: 20px;
}

.dua{
    color: #efe9c7;
}

.sdg{
    float: left;
    padding: 20px;
    margin-top: -15px;
    margin-bottom: -10px;
    display: block;
    margin-right: auto;
    animation: fadeIn 2s;
    height: 400px;
    width: 800px;
}

.judul{
    font-family: "gotham";
    color: #D19F2A;
    font-size: 40px;
    margin-top: 100px;
    animation: 3s slide-right ease-in-out 50ms;
}


h1{
    padding: 5px 10px;
    color: #5a6d4b;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: justify;
    font-family: "bai";
}

h3{
    color: #39281b;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: justify;
    font-family: "bai";
}

p{
    color: #39281b;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    font-size: 15px;
    font-family: "poppins";
}

.satu{
    margin-top: 40px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    background: #F4EEDB;
    border: 1px solid #39281b;
    background-color: rgba(214,204,153,1);
    max-width: 1400px;
    height: 80px;
    border-radius: 20px;
    text-indent: 30px;
}

.satu1{
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: #F4EEDB;
    vertical-align: middle;
    border: 1px solid #39281b;
    background-color: rgba(214,204,153,1);
    max-width: 1400px;
    height: 80px;
    border-radius: 20px;
    text-indent: 30px;
}

.footer{
    bottom: 0;
}

.kartuz{
    margin-top: 30px;
    margin-left: 100px;
    z-index: 0;
    padding: 5px 10px;
}

.card{
    margin-bottom: 10px;
    padding-top: 10px;
    justify-content: center;
    margin-left: 0px;
    background-color: #F4EEDB;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    min-height: max-content;
    max-width: 1000px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.2s ease;
}

.card:hover{
    transform: translateY(-10px);
    background-color: white;
    box-shadow: 0 8px 16px rgb(169, 163, 127);
}

.card-content{
    margin-top: px;
    padding: 16px;
    transition: color 0.3 ease;
}

.card-title{
    text-align: justify;
    margin: 0 0 8px;
    font-size: 20px;
    color: #5a6d4b;
    transition: color 0.3s ease;
}

.card-description{
    text-align: justify;
    margin: 0 0 16px;
    font-size: 16px;
    color: #9C8E6B;
    transition: color 0.3s ease;
}

.img2{
    border: 2px solid #37261a;
    background-color: #D19F2A;
    border-radius: 15px;
    margin-top: 30px;
    transition: transform;
    animation: 3s slide-right ease-in-out;
    display: flex;
    margin-bottom: -70px;
    margin-left: 20px;
    transition: transform 0.3s ; 
}

.img2:hover{
    border: 2px solid #18110b;
    transform: scale(1.1);
}

ul li{
    font-family: "poppins";
    text-align: justify;
    color: #5a6d4b;
    margin-bottom: 20px;
}

.kartuz2{
    margin-top: 30px;
    display: flex;
}

.card2{
    padding-top: 10px;
    justify-content: center;
    margin-left: 10px;
    background-color: #F4EEDB;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    height: 400px;
    max-width: 600px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.2s ease-in;
    margin-bottom: 10px;
}

.card2:hover{
    transform: translateY(-10px);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.petani{
    background-color: rgb(253, 249, 242);
    margin-top: -10px;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center top;
}

.petani:hover{
    background-color: rgb(253, 249, 242);
}

.card2-content{
    width: 400px;
    transition: color 0.3 ease;
}

.card2-title{
    text-align: justify;
    font-size: 20px;
    color: #5a6d4b;
    transition: color 0.3s ease;
}

.card2-description{
    text-align: justify;
    margin-left: 20px;
    font-size: 16px;
    color: #9C8E6B;
    transition: color 0.3s ease;
}

.card2-header{
    font-family: "gotham";
    text-align: justify;
    font-size: 20px;
    color: #5a6d4b;
}